{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Add Creator{% endblock %}
{% block meta_keywords %}add creator, MagnaPlate creator, artist profile, admin panel{% endblock %}
{% block meta_description %}
  Add new creators to your MagnaPlate platform. Showcase the talented artists behind your unique magnetic posters.
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Add New Creator</h1>
    <form id="creatorForm" method="POST" action="{% url 'add_creator' %}" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        
        <!-- Preview Card -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-4" id="creatorPreview" style="display: none;">
            <div class="col g-3">
                <div class="card p-0">
                    <a class="link-underline-opacity-0 link" href="#">
                        <img id="imagePreview" src="#" alt="Image Preview" style="display: none;" class="card-img img-fluid img-fill">
                        <div class="card-body">
                            <h5 class="card-title" id="previewName"></h5>
                            <p class="card-text text-truncate" id="previewDescription"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="text-right">
            <a class="btn btn-secondary rounded-pill my-1 me-1" href="{% url 'creator_management' %}">Cancel</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary rounded-pill my-1" data-toggle="modal" data-target="#confirmCreatorModal">
                Add Creator
            </button>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="confirmCreatorModal" tabindex="-1" role="dialog" aria-labelledby="confirmCreatorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-white text-dark d-flex justify-content-between">
                    <h5 class="modal-title" id="confirmCreatorModalLabel">Confirm Add Creator</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to add this creator?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill my-1 me-1" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary rounded-pill my-1" onclick="document.getElementById('creatorForm').submit();">Add Creator</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    document.getElementById('id_image').onchange = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
            output.style.display = 'block';
            document.getElementById('creatorPreview').style.display = 'flex';
        };
        reader.readAsDataURL(event.target.files[0]);
    };

    document.getElementById('id_name').onkeyup = function (event) {
        var name = event.target.value;
        document.getElementById('previewName').innerText = name;
        document.getElementById('creatorPreview').style.display = 'flex';
    };

    document.getElementById('id_description').onkeyup = function (event) {
        var description = event.target.value;
        document.getElementById('previewDescription').innerText = description;
        document.getElementById('creatorPreview').style.display = 'flex';
    };
</script>
{% endblock %}
