{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h2 class="logo-font mb-4">Edit Newsletter</h2>
            <h5 class="text-muted">Modify your newsletter</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form id="newsletterForm" method="POST" action="{% url 'edit_newsletter' newsletter.pk %}" class="form mb-2">
                {% csrf_token %}
                {{ form.subject|as_crispy_field }}
                {{ form.body|as_crispy_field }}
                {{ form.send_now|as_crispy_field }}

                <div class="form-group row">
                    <label for="id_recipients" class="col-form-label col-sm-2">Recipients:</label>
                    <div class="col-sm-4">
                        <label>Available recipients</label>
                        <select id="available_recipients" multiple class="form-control" style="height: 200px;">
                            {% for recipient in available_recipients %}
                                <option value="{{ recipient.pk }}">{{ recipient.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2 d-flex flex-column justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary mb-2" id="add_recipient">&gt;</button>
                        <button type="button" class="btn btn-primary mb-2" id="remove_recipient">&lt;</button>
                        <button type="button" class="btn btn-secondary mb-2" id="add_all_recipients">&gt;&gt;</button>
                        <button type="button" class="btn btn-secondary" id="remove_all_recipients">&lt;&lt;</button>
                    </div>
                    <div class="col-sm-4">
                        <label>Chosen recipients</label>
                        <select id="chosen_recipients" name="recipients" multiple class="form-control" style="height: 200px;">
                            {% for recipient in chosen_recipients %}
                                <option value="{{ recipient.pk }}" selected>{{ recipient.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="text-right">
                    <a href="{% url 'site_management' %}">
                        <button type="button" class="btn rounded-pill my-2 border-black btn-secondary">
                            Cancel
                        </button>
                    </a>
                    <button type="submit" class="btn rounded-pill my-2 border-black btn-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script>
    $(document).ready(function() {
        $('#add_recipient').click(function() {
            $('#available_recipients option:selected').each(function() {
                $(this).remove().appendTo('#chosen_recipients');
            });
        });

        $('#remove_recipient').click(function() {
            $('#chosen_recipients option:selected').each(function() {
                $(this).remove().appendTo('#available_recipients');
            });
        });

        $('#add_all_recipients').click(function() {
            $('#available_recipients option').each(function() {
                $(this).remove().appendTo('#chosen_recipients');
            });
        });

        $('#remove_all_recipients').click(function() {
            $('#chosen_recipients option').each(function() {
                $(this).remove().appendTo('#available_recipients');
            });
        });

        $('form').submit(function() {
            $('#chosen_recipients option').prop('selected', true);
        });
    });
</script>
{% endblock %}
