{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h2 class="logo-font mb-4">Send Newsletters</h2>
            <h5 class="text-muted">Select newsletters to send or delete</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form id="sendNewslettersForm" method="POST" action="{% url 'send_newsletters' %}" class="form mb-2">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"><input type="checkbox" id="select-all-newsletters"></th>
                                <th scope="col">Subject</th>
                                <th scope="col" class="d-none d-md-table-cell">Body</th>
                                <th scope="col" class="d-none d-md-table-cell">Created At</th>
                                <th scope="col">Sent</th>
                                <th scope="col" class="d-none d-md-table-cell">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for newsletter in form.newsletters.field.queryset %}
                            <tr>
                                <td><input type="checkbox" name="newsletters" value="{{ newsletter.id }}"></td>
                                <td><a href="{% url 'edit_newsletter' newsletter.id %}" class="text-truncate" style="max-width: 150px;">{{ newsletter.subject }}</a></td>
                                <td class="d-none d-md-table-cell text-truncate" style="max-width: 200px;">{{ newsletter.body|truncatewords:20 }}</td>
                                <td class="d-none d-md-table-cell">{{ newsletter.created_at }}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        {% if newsletter.letter_sent %}
                                            <i class="fa-solid fa-check text-success"></i>
                                        {% else %}
                                            <i class="fa-solid fa-xmark text-danger"></i>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="d-none d-md-table-cell">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a href="{% url 'edit_newsletter' newsletter.id %}" class="btn btn-primary rounded-pill my-1">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="{% url 'site_management' %}">
                        <button type="button" class="btn rounded-pill my-2 border-black btn-secondary">
                            Cancel
                        </button>
                    </a>
                    <button type="submit" name="send_selected" class="btn rounded-pill my-2 border-black btn-primary">
                        Send Selected Newsletters
                    </button>
                    <button type="submit" name="delete_selected" class="btn rounded-pill my-2 border-black btn-danger">
                        Delete Selected Newsletters
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    $(document).ready(function() {
        $('#select-all-newsletters').click(function() {
            var checkedStatus = this.checked;
            $('input[name="newsletters"]').each(function() {
                $(this).prop('checked', checkedStatus);
            });
        });
    });
</script>
{% endblock %}
