{% extends 'base.html' %}
{% load static %}

{% block title %}All Creators{% endblock %}
{% block meta_keywords %}
  all creators, MagnaPlate artists, diverse artists,
  home decor designers, wall art creators, magnetic poster artists,
  artistic profiles
{% endblock %}
{% block meta_description %}
  Meet all the amazing creators featured on MagnaPlate.
  Browse through a diverse range of artists and find your 
  favorite designs to enhance your home with our magnetic posters
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block content %}
<section class="py-4 container-fluid">
  <div class="container">
    <hr>
    <h2 class="logo-font mb-4 text-center">All Creators</h2>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      {% for creator in creators %}
      <div class="col g-3">
        <div class="card p-0">
          <a class="link-underline-opacity-0 link" href="{% url 'creator_detail' creator.pk %}">
            {% if creator.image %}
            <img src="{{ creator.image.url }}" alt="{{ creator.name }}" class="card-img img-fluid img-fill">
            {% else %}
            <img src="{{ MEDIA_URL }}creator_images/creators-placeholder.webp" alt="image-placeholder" class="card-img img-fluid img-fill">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ creator.name }}</h5>
              <p class="card-text text-truncate">{{ creator.description }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="container pt-4" id="anchor">
      {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link pagination-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
          {% endif %}
          {% for num in page_range %}
          <li class="page-item {% if page_obj.number == num %}active{% endif %}">
            <a class="page-link pagination-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link pagination-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block postloadjs %}
<script type="module" src="{% static 'products/js/product.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.4.1/index.js" integrity="sha512-jrYR1cG7wwq2l+uNH+XXF18hjN+j8MBjM2PK2+fV/nAIHKxqpg479rOWFOxTpCnyPMZeGAi+eDAxHyrzTzkyRg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
{% endblock %}
