{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block content %}
<section class="py-4 container-fluid">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6 my-auto px-2">
        <div class="border rounded-4 d-flex justify-content-center">
          {% if creator.image %}
          <img src="{{ creator.image.url }}" alt="{{ creator.name }}" class="product-image rounded-4 fit">
          {% else %}
          <img src="{{ MEDIA_URL }}creator_images/creators-placeholder.webp" alt="image-placeholder" class="product-image rounded-4 fit">
          {% endif %}
        </div>
      </aside>
      <main class="col-lg-6 pt-md-2">
        <div class="ps-lg-3 pt-md-1">
          <h1 class="title text-dark">{{ creator.name }}</h1>
          <p class="fs-5">{{ creator.description }}</p>
        </div>
      </main>
    </div>
  </div>
</section>

<section class="py-4 px-0 container-fluid border-top">
  <div class="container">
    <h2 class="text-center">Plates by {{ creator.name }}</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          {% for product in products %}
          <div class="col g-3">
            <div class="card p-0">
              <a class="link-underline-opacity-0" href="{% url 'product_detail' product.pk %}">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img img-fluid img-fill">
                {% else %}
                    <img src="{{ MEDIA_URL }}product_images/placeholder-image.png" alt="image-placeholder" class="card-img img-fluid img-fill">
                {% endif %}
                <div class="d-none d-lg-block">
                  <div class="card-img-overlay justify-content-between align-items-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text text-black">{{ product.description|truncatewords:20 }}</p>
                    {% if product.price %}
                        <div class="price-container">
                        <p class="card-text"><strong class="text-black">€{{ product.price }}</strong></p>
                        </div>
                    {% endif %}
                  </div>
                </div>
                <div class="d-block d-lg-none">
                  <div class="card-body d-flex justify-content-between align-items-center px-2 py-1 d-inline">
                    <p class="card-text m-0">{{ product.name }}</p>
                    {% if product.price %}
                    <strong class="text-black">€{{ product.price }}</strong>
                    {% endif %}
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>

    <!-- Pagination Controls -->
    <div class="container pt-4" id="anchor">
      {% if is_paginated %}
        <nav aria-label="Page navigation" class="">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link pagination-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for num in page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
              <a class="page-link pagination-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link pagination-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block postloadjs %}
<script type="module" src="{% static 'products/js/product.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.4.1/index.js" integrity="sha512-jrYR1cG7wwq2l+uNH+XXF18hjN+j8MBjM2PK2+fV/nAIHKxqpg479rOWFOxTpCnyPMZeGAi+eDAxHyrzTzkyRg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
{% endblock %}
