{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Collection Management</h2>
                <h5 class="text-muted">{% if form.instance.pk %}Edit{% else %}Add{% endif %} a Collection</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form id="collectionForm" method="POST" action="{% if form.instance.pk %}{% url 'edit_collection' form.instance.pk %}{% else %}{% url 'add_collection' %}{% endif %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <a class="btn btn-secondary rounded-pill my-1 me-1" href="{% url 'collection_management' %}">Cancel</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary rounded-pill my-1" data-toggle="modal" data-target="#confirmCollectionModal">
                            {% if form.instance.pk %}Update Collection{% else %}Add Collection{% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmCollectionModal" tabindex="-1" role="dialog" aria-labelledby="confirmCollectionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="w-100 toast-capper"></div>
                <div class="modal-header bg-white text-dark d-flex justify-content-between">
                    <h5 class="modal-title" id="confirmCollectionModalLabel">Confirm {% if form.instance.pk %}Update{% else %}Add{% endif %} Collection</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to {% if form.instance.pk %}update{% else %}add{% endif %} this collection?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill my-1 me-1" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary rounded-pill my-1" id="confirmCollectionButton">{% if form.instance.pk %}Update Collection{% else %}Add Collection{% endif %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        $(document).ready(function() {
            $('#confirmCollectionButton').click(function() {
                $('#collectionForm').submit();
            });
        });
    </script>
{% endblock %}
