/* Bootstrap overide */

.navbar-brand {
    font-family: 'Galada', cursive !important;
}

/* Custom CSS */


/* Keep footer at the bootom and expand main */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}