<div class="row justify-content-center w-100">
  <div class="col-10 pb-5">
    <form class="text-center" action="{% url 'subscribe_newsletter' %}" method="post">
      {% csrf_token %}
      <h5>Subscribe to our newsletter</h5>
      <p>Monthly digest of what's new and exciting from us.</p>
      <div class="row g-2 justify-content-center">
        <div class="col-12 col-sm-3">
          <label for="newsletter-name" class="visually-hidden">Name</label>
          <input id="newsletter-name" type="text" class="form-control" name="name" placeholder="Name" required>
        </div>
        <div class="col-12 col-sm-5">
          <label for="newsletter-email" class="visually-hidden">Email address</label>
          <input id="newsletter-email" type="email" class="form-control" name="email" placeholder="Email address" required>
        </div>
        <div class="col-12 col-sm-2">
          <button class="btn btn-primary w-100" type="submit">Subscribe</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center w-100">
  <div class="col-3 offset-md-2">
    <h5>Support</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">F.A.Q</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>

  <div class="col-3">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>

  <div class="col-3">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>
</div>

<div class="d-flex justify-content-between py-1 my-1 border-top w-100">
  <p>&copy; 2021 Company, Inc. All rights reserved.</p>
  <ul class="list-unstyled d-flex">
    <li class="ms-3"><a class="link-dark px-1" href="#"><i class="fa-brands fa-facebook"></i></a></li>
    <li class="ms-3"><a class="link-dark px-1" href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
    <li class="ms-3"><a class="link-dark px-1" href="#"><i class="fa-brands fa-square-youtube"></i></a></li>
  </ul>
</div>