.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
.icon-hover:hover i {
color: #3b71ca !important;
}


.product-image {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.select-size {
    min-width: 100px;
    max-width: 200px;
}

.select-quantity {
    min-width: 100px;
    max-width: 200px;
}


/* For Webkit browsers like Chrome and Safari */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Mozilla Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}



/* Favorites */

.favorite-icon {
    position: absolute;
    bottom: 5px;
    right: 3px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-icon-creator {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-icon-creator .icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.favorite-icon .icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.full_heart {
    color: red;
}

.regular_heart {
    color: blue;
}
