
.image-container {
    min-height: fit-content;
    max-height: 50%;
    width: 100%;
}

.image-container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}


@media (max-width: 768px) {
    .image-container {
        height: auto;
        width: 100%;
    }
}