<div class="row justify-content-center" >

  <div class="col-10 pb-5">
    <form class="text-center">
      <h5>Subscribe to our newsletter</h5>
      <p>Monthly digest of whats new and exciting from us.</p>
      <div class="d-flex w-100 gap-2 justify-content-center">
        <label for="newsletter1" class="visually-hidden">Email address</label>
        <input id="newsletter1" type="text" class="form-control w-50" placeholder="Email address">
        <button class="btn btn-primary w-33" type="button">Subscribe</button>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-3 offset-2">
    <h5>Support</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">F.A.Q</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>

  <div class="col-3">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>

  <div class="col-3">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
    </ul>
  </div>
</div>

<div class="d-flex justify-content-between py-1 my-1 border-top">
  <p>&copy; 2021 Company, Inc. All rights reserved.</p>
  <ul class="list-unstyled d-flex">
    <li class="ms-3"><a class="link-dark px-1" href="#"><i class="fa-brands fa-facebook"></i></a></li>
    <li class="ms-3"><a class="link-dark px-1" href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
    <li class="ms-3"><a class="link-dark px-1" href="#"><i class="fa-brands fa-square-youtube"></i></a></li>
  </ul>
</div>