<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Plates
            </a>
            <div class="dropdown-menu border-secondary-subtle" aria-labelledby="menu-1">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-secondary-subtle" aria-labelledby="menu-2">
                <a href="" class="dropdown-item">Sub-menu 1</a>
                <a href="" class="dropdown-item">Sub-menu 2</a>
                <a href="" class="dropdown-item">Sub-menu 3</a>
                <a href="" class="dropdown-item">Sub-menu 4</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Creators
            </a>
            <div class="dropdown-menu border-secondary-subtle" aria-labelledby="menu-3">
                <a href="" class="dropdown-item">Sub-menu 1</a>
                <a href="" class="dropdown-item">Sub-menu 2</a>
                <a href="" class="dropdown-item">Sub-menu 3</a>
                <a href="" class="dropdown-item">Sub-menu 4</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-secondary-subtle" aria-labelledby="menu-4">
                <a href="" class="dropdown-item">Sub-menu 1</a>
                <a href="" class="dropdown-item">Sub-menu 2</a>
                <a href="" class="dropdown-item">Sub-menu 3</a>
                <a href="" class="dropdown-item">Sub-menu 4</a>
            </div>
        </li>
        <!-- <div class="nav-item dropdown">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button">Action</button></li>
              <li><button class="dropdown-item" type="button">Another action</button></li>
              <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
        </div> -->
    </ul>
</div>