<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-4 mx-lg-auto">
        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-1" aria-haspopup="true"
                aria-expanded="false">
                All Plates
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="menu-1">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                {% for option in sort_options %}
                <a href="{% url 'products' %}?sort={{ option.value }}" class="dropdown-item">{{ option.label }}</a>
                {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-2" aria-haspopup="true"
                aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="menu-2">
                {% for collection in collections %}
                <a href="{% url 'products' %}?collection={{ collection.id }}"
                    class="dropdown-item">{{collection.friendly_name }}</a>
                {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-3" aria-haspopup="true"
                aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="menu-3">
                {% for category in categories %}
                <a href="{% url 'products' %}?category={{ category.id }}" class="dropdown-item">{{category.friendly_name}}</a>
                {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-4" aria-haspopup="true"
                aria-expanded="false">
                Creators
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="menu-4">
                {% for creator in random_creators %}
                    <a href="{% url 'creator_detail' creator.pk %}" class="dropdown-item">{{ creator.name }}</a>
                {% endfor %}
                <a href="{% url 'all_creators' %}" class="dropdown-item">More Creators</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropdown nav-link text-black" data-bs-toggle="dropdown" href="#" id="menu-4" aria-haspopup="true"
                aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="menu-4">
                <a href="{% url 'products' %}?is_on_deal=true" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?new_arrivals=true" class="dropdown-item">New Arrivals</a>
            </div>
        </li>
    </ul>
</div>