<!-- Mobile Navigation Button -->
<li class="list-inline-item col-2 justify-content-center pt-2">
    <button class="navbar-toggler border-0 w-100 p-3 rounded-0 my-0 d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars border-0"></i></span>
    </button>
</li>

<!-- Mobile Search Button -->
<li class="list-inline-item col-2 justify-content-center pt-2">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <!-- Mobile Search Form -->
    <div class="dropdown-menu border-0 w-100 p-3 rounded-1 my-0" aria-labelledby="mobile-search">
        <form class="form" method="get" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control me-0 rounded-start-4" type="search" name="q" placeholder="Search"
                    aria-label="Search" value="{{ search_term }}">
                <button class="btn btn-light border rounded-end-4 mx-0" type="submit">Search</button>
            </div>
        </form>
    </div>
</li>

<!-- Mobile User Account Options -->
<li class="list-inline-item dropdown col-2 justify-content-center pt-2">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="account-options" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fa-regular fa-user fa-lg"></i></div>
            {% if request.user.is_authenticated %}
            <p class="my-0">{{user.username|capfirst}}</p>
            {% else %}
            <p class="my-0">User</p>
            {% endif %}
        </div>
    </a>
    <!-- Mobile Account Dropdown Menu -->
    <div class="dropdown-menu border-0" aria-labelledby="account-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a class="dropdown-item" href="{% url 'site_management' %}">Site Management</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
        <a class="dropdown-item" href="{% url 'favorites:favorite_list' %}">My Favorites</a>
        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>

<!-- Mobile Cart Link -->
<li class="list-inline-item col-2 justify-content-center pt-2 px-0 mx-0 me-1">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} d-block d-lg-none" href="{% url 'view_cart' %}">
        <div class="text-center cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
            <p class="my-0 text-center fs-6 fs-md-5">
                {% if grand_total %}
                  €{{ grand_total|floatformat:2 }}
                {% else %}
                  €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>
