{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-4">
    <h2 class="text-center">Add Carousel Item</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary rounded-pill my-1">Add</button>
        </div>
    </form>
    <div class="row mt-4">
        <div class="col text-center">
            <a href="{% url 'carousel_list' %}" class="btn btn-secondary rounded-pill my-1 me-1">Back to Carousel Management</a>
        </div>
    </div>
</div>
{% endblock %}
