{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Carousel{% endblock %}
{% block meta_keywords %}add carousel image, MagnaPlate carousel, homepage images, admin panel{% endblock %}
{% block meta_description %}
  Add new images to the MagnaPlate homepage carousel. Enhance your site's visual appeal by adding engaging and attractive images.
{% endblock %}

{% block content %}
<!-- Main container for the Add Carousel Item page -->
<section class="container py-4">
    <!-- Page title -->
    <hr>
    <h2 class="logo-font mb-4 text-center">Add Carousel Item</h2>
    <hr>

    <!-- Form to add a new carousel item -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary rounded-pill my-1">Add</button>
        </div>
    </form>

    <!-- Back to Carousel Management button -->
    <div class="row mt-4">
        <div class="col text-center">
            <a href="{% url 'carousel_list' %}" class="btn btn-secondary rounded-pill my-1 me-1">Back to Carousel Management</a>
        </div>
    </div>
</section>
{% endblock %}
