{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Carousel{% endblock %}
{% block meta_keywords %}edit carousel image, MagnaPlate carousel, update homepage images, admin panel{% endblock %}
{% block meta_description %}
  Edit existing images on the MagnaPlate homepage carousel. Keep your site fresh and engaging by updating carousel content.
{% endblock %}

{% block content %}
<!-- Main container for the Edit Carousel Item page -->
<div class="container py-4">
    <hr>
    <h2 class="logo-font mb-4 text-center">Edit Carousel Item</h2>
    <hr>

    <!-- Form for editing the carousel item -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn rounded-pill my-2 border-black btn-primary">Save Changes</button>
        </div>
    </form>

    <!-- Navigation button to go back to the carousel management page -->
    <div class="row mt-4">
        <div class="col text-center">
            <a href="{% url 'carousel_list' %}" class="btn rounded-pill my-2 border-black btn-danger">Back to Carousel Management</a>
        </div>
    </div>
</div>
{% endblock %}
