{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th class="col text-center">Product Info</th>
                            <th class="col text-center">Qty</th>
                            <th class="col text-center">Price</th>
                            <th class="col text-center">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                        alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded"
                                        src="{{ MEDIA_URL }}product_images/placeholder-image.png"
                                        alt="{{ item.product.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-12 col-lg-6">
                                    <p class="my-0">
                                        <strong>{{ item.product.name }}</strong>
                                    </p>
                                    <p class="my-0">
                                        <strong>Size:</strong>
                                        {% if item.product.has_sizes %}
                                        {{ item.size|upper }}
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="py-3 w-25 text-center">
                            <div class="form-group">
                                <form class="form update-form d-inline" method="post"
                                    action="{% url 'update_cart' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="input-group mb-3 my-0">
                                        <button type="button"
                                            class="decrement-qty btn btn-light border rounded-start-4 w-25"
                                            data-item_id="{{ item.item_id }}" data-item_size="{{ item.size }}">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input class="form-control qty_input text-center input-number" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" data-item_size="{{ item.size }}"
                                            id="id_qty_{{ item.item_id }}_{{ item.size }}">
                                        <button type="button"
                                            class="increment-qty btn btn-light border rounded-end-4 w-25"
                                            data-item_id="{{ item.item_id }}" data-item_size="{{ item.size }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        {% if item.product.has_sizes %}
                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-primary rounded-pill btn-sm">Update</button>
                                </form>
                                <form class="form remove-form d-inline" method="post"
                                    action="{% url 'remove_from_cart' item.item_id %}">
                                    {% csrf_token %}
                                    {% if item.product.has_sizes %}
                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                    {% endif %}
                                    <button type="submit" class="btn btn-danger rounded-pill btn-sm">Remove</button>
                                </form>
                            </div>
                        </td>
                        <td class="py-3 text-center">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 text-center">
                            <p class="my-0">€{{ item.subtotal|floatformat:2 }}</p> <!-- Display the subtotal -->
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6>
                                <strong>Cart Total: €{{ total|floatformat:2 }}</strong>
                            </h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4">
                                <strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong>
                            </h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!-- Change buttons -->
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-secondary rounded-pill my-1 me-1">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-primary rounded-pill my-1 me-1">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your Cart is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-secondary rounded-pill my-1 me-1">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="module" src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}