{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <!-- Bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
      <!-- Static CSS -->
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    
    {% endblock %}

    {% block corejs %}
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/12401a2841.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>MagnaPlate</title>
  </head>

  <body>

    <header class="container-fluid sticky-top bg-light-subtle border-bottom my-auto">
      <div class="row border-bottom">
        <div class="text-center col-12 col-lg-3 my-auto">
          <a class="navbar-brand" href="#">
            <h2 class="navbar-brand logo-font text-black fs-1 my-0">
              <strong>Magna</strong>Plate
            </h2>
          </a>          
        </div>

        <div class="col-12 col-lg-6 my-auto d-none d-lg-block">
          <form class="d-flex input-group" role="search">
            <input class="form-control me-0 rounded-start-4" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-light border rounded-end-4 mx-0" type="submit">Search</button>
          </form>
        </div>
        <div class="col-12 col-lg-3 my-auto d-flex justify-content-end d-none d-lg-block">


          <ul class="nav">
            <li class="nav-item dropdown">
              
              <a class="nav-link dropdown text-center text-black" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fa-regular fa-user fa-lg"></i>
                <p class="my-0">User</p>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Login</a></li>
                <li><a class="dropdown-item" href="#">Register</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center text-black" href="#">
                <i class="fa-solid fa-cart-shopping"></i>
                <p class="my-0">Cart</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row border-bottom justify-content-evenly d-lg-none">
        {% include 'includes/mobile-header.html' %}
      </div>
      <div class="row bg-light-subtle">
        <nav class="navbar navbar-expand-lg p-0 w-100">
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
    </header>
    
    <main class="flex-grow-1">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="border-top mt-auto footer">
      {% include 'includes/footer.html' %}      
    </footer>

    {% block postloadjs %}

    {% endblock %}
    
  </body>

  
</html>