{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>MagnaPlate</title>
  </head>

  <body>

    <h1> Hello world</h1>

    {% block content %}

    {% endblock %}
    
  </body>
</html>