
.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden !important;
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    overflow: hidden; /* Hide overflowing content */
    width: auto; 
    height: 450px;
    object-fit:contain; /* Scale the image to cover the container */

}

.image-carousel {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    overflow: hidden; /* Hide overflowing content */
    width: auto;
    height: 400px;
    object-fit:contain; /* Scale the image to cover the container */
    border-radius: 20px; /* Adjust the value to your desired roundness */

}

.background-carousel {
    background: linear-gradient(-45deg, #B81916, #A10F0D, #1C4AB2, #133398, #2846A1);
    background-size: 400% 400%;
    animation: gradient 20s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.custom-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 10px;
    border-radius: 50px;
}
  
.custom-background p {
    font-size: 15px; 
}

.carousel-item {
    position: relative;
}