{% load static %}
{% load thumbnail %}

<section id="allproducts" class="container p-2" data-scroll-target="true">
    <div class="row gx-2">
        <div class="rounded-2 px-3 py-2 bg-white">

            <hr>
            <h2 class="logo-font mb-4 text-center">Our Products!</h2>
            <hr>
            
            <!-- Product listing -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                {% for product in products %}
                <div class="col g-3">
                    <div class="card p-0 position-relative shadow rounded">
                        <a class="link-underline-opacity-0 link" href="{% url 'product_detail' product_id=product.id %}">
                            {% if product.image %}
                                <img src="{% thumbnail product.image 'product_thumb' %}" alt="{{ product.name }}" class="card-img img-fluid img-fill">
                            {% else %}
                                <img src="{{ MEDIA_URL }}product_images/placeholder-image.png" alt="image-placeholder" class="card-img img-fluid img-fill">
                            {% endif %}
                            {% if product.is_on_deal %}
                                <span class="badge bg-danger text-black position-absolute top-0 start-0 m-2">On Deal</span>
                            {% endif %}
                            <div class="d-none d-lg-block shadow rounded">
                                <div class="card-img-overlay justify-content-between align-items-center">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text text-black">{{ product.description|truncatewords:25 }}</p>
                                    {% if product.price %}
                                        <div class="price-container">
                                            <p class="card-text"><strong class="text-black">€{{ product.price }}</strong></p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-block d-lg-none shadow rounded">
                                <div class="card-body d-flex justify-content-between align-items-center px-2 py-1 d-inline">
                                    <p class="card-text m-0">{{ product.name }}</p>
                                    {% if product.price %}
                                        <strong class="text-black">€{{ product.price }}</strong>
                                    {% endif %}
                                </div>                
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <!-- Pagination -->
            <div class="container pt-4" id="anchor">
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link pagination-link" href="?page={{ page_obj.previous_page_number }}&sort={{ current_sorting }}">Previous</a>
                            </li>
                        {% endif %}
                        
                        {% for num in page_range %}
                            {% if num == '...' %}
                                <li class="page-item">
                                    <span class="page-link">...</span>
                                </li>
                            {% else %}
                                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                    <a class="page-link pagination-link" href="?page={{ num }}&sort={{ current_sorting }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link pagination-link" href="?page={{ page_obj.next_page_number }}&sort={{ current_sorting }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}           
            </div>
        </div>
    </div>
</section>
