/* Standard Colors */
:root {
    --primary-blue: #133398;
    --light-blue-medium: #2846A1;
    --light-blue: #1C4AB2;

    --red-color: #A10F0D;
    --bright-red-color: #B81916;

    --black-color: #000000;

    --gray-color: #4F4F4F;
    --dark-gray-color: #3a3a3a;
    --light-gray-color: #EEEEEE;

    --white-color: #FBFBFB;

    --green-success: #006400;
}


/* Bootstrap overide */

.navbar-brand {
    font-family: 'Galada', cursive !important;
}

h2 {
    font-family: 'Signika Negative', sans-serif;
}

/* Custom CSS */


/* Keep footer at the bootom and expand main */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}


/* Product custom CSS */

.card .card-img-overlay {
    /* Initially hide the overlay */
    opacity: 0;
    /* Add a transition for smooth appearance */
    transition: opacity 0.3s ease;
}
  
.card:hover .card-img-overlay {
    /* Show the overlay when the card is hovered */
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8); 
    color: #000000; 
}


.img-fill {
    /* Fill up the image div */
    height: 250px !important;
    object-fit: cover !important; 
}


/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
    border-radius: 10px !important;

}

.custom-toast {
    overflow: hidden;
    max-width: 300px !important;
    width: 100%;
}

.toast-capper {
    height: 2px;
}

/* Links */
.link {
    color: black !important;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif !important;
}

.cart-icon {
    color: var(--light-blue);
}

/* Custom styles for price positioning */
.price-container {
    position: absolute;
    bottom: 10px !important; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: black !important;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 50rem;
    padding: 0.375rem 0.75rem;
    margin: 4px auto;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: #000;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #000;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #000; 

}

.allauth-form-inner-content a[type='button']:hover {
	color: #fff; 
    background-color: #000;
    border-color: #fff;
}

.allauth-form-inner-content p > a:hover {
    text-decoration:none;
	
}

.allauth-form-inner-content small > a:hover {
    text-decoration:none;
}

.allauth-form-inner-content input[id="id_remember"] {
    border-color: initial;
    border-radius: initial;
    padding: initial;
}




/* Buttons */

/* Customizing Bootstrap button */
.btn-primary {
    color: var(--white-color) !important;
    background-color: var(--primary-blue) !important;
    border-color: var(--primary-blue) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: var(--white-color) !important;
    background-color: var(--light-blue-medium) !important;
    border-color: var(--light-blue-medium) !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(19, 51, 152, 0.5) !important;
}

.btn-primary:active {
    color: var(--white-color) !important;
    background-color: var(--light-blue) !important;
    border-color: var(--light-blue) !important;
}

.btn-primary:disabled {
    color: var(--white-color) !important;
    background-color: var(--primary-blue) !important;
    border-color: var(--primary-blue) !important;
}

/* Customizing Bootstrap secondary button */
.btn-secondary {
    color: var(--white-color) !important;
    background-color: var(--gray-color) !important;
    border-color: var(--gray-color) !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    color: var(--white-color) !important;
    background-color: var(--dark-gray-color) !important;
    border-color: var(--dark-gray-color) !important;
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgba(79, 79, 79, 0.5) !important;
}

.btn-secondary:active {
    color: var(--white-color) !important;
    background-color: var(--light-gray-color) !important;
    border-color: var(--light-gray-color) !important;
}

.btn-secondary:disabled {
    color: var(--white-color) !important;
    background-color: var(--gray-color) !important;
    border-color: var(--gray-color) !important;
}

/* Success Button */

.btn-success {
    background-color: var(--green-success) !important;
}


/* Custom CSS for Icons */
.icon-detail {
    color: var(--light-blue) !important;
}

/* Button Outline */
.btn-outline-black {
    color: var(--dark-gray-color) !important;
    border-color: var(--dark-gray-color) !important;
}

.btn-outline-black:hover,
.btn-outline-black:focus,
.btn-outline-black:active {
    color: var(--white-color) !important;
    background-color: var(--dark-gray-color) !important;
    border-color: var(--dark-gray-color) !important;
}

/* Button Danger */

.btn-danger {
    color: var(--white-color) !important;
    background-color: var(--red-color) !important;
    border-color: var(--red-color) !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    color: var(--white-color) !important;
    background-color: var(--bright-red-color) !important;
    border-color: var(--bright-red-color) !important;
}

/* Text Muted */

.text-footer {
    color: var(--black-color) !important;
}