/* Bootstrap overide */

.navbar-brand {
    font-family: 'Galada', cursive !important;
}

h2 {
    font-family: 'Signika Negative', sans-serif;
}

/* Custom CSS */


/* Keep footer at the bootom and expand main */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}


/* Product custom CSS */

.card .card-img-overlay {
    /* Initially hide the overlay */
    display: none;
    /* Add a transition for smooth appearance */
    transition: all 0.3s ease;
}
  
.card:hover .card-img-overlay {
    /* Show the overlay when the card is hovered */
    display: block;
    background-color: rgba(255, 255, 255, 0.7); 
    color: #000000; 
}  

.img-fill {
    /* Fill up the image div */
    height: 250px !important;
    object-fit: cover !important; 
}


/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    border-radius: 10px !important;

}

.custom-toast {
    overflow: hidden;
}

.toast-capper {
    height: 2px;
}

.card a {
    color: black !important;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif !important;
}

/* Custom styles for price positioning */
.price-container {
    position: absolute;
    bottom: 10px !important; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: black !important;
}